.box {
    margin-top: 40%;
    margin-left: 40%;
    margin-right: 40%;
    background: #e4c271;
    width: 200px;
    text-align: center;
}

h3, h4{
    color: #000;
}

.cofbox {
    margin-top: 40%;
    margin-left: 40%;
    margin-right: 40%;
    background: #e4c271;
    width: 300px;
    text-align: center;
}

input{
    height: 50px;
    width: 150px;
}