#container {
    max-width: 800px;
    height: auto;
}

#imgbox img {
    height: 400px;
    width: 400px;
    margin-left: 25%;
    margin-right: 20%;
    background: #e4c271;
    margin-top: 10%;
    margin-bottom: 10%;
}

h4 {
    color: black;
    text-align: center;
    font-size: 2rem;
    background: #e4c271;
    border: 3px solid #000;
}

#reviews {
    color: black;
    text-align: center;
    border: 3px solid #000;
    background: #e4c271;
    margin-top: 5%;
    margin-bottom: 5%;
}

hr{
    opacity: 0;
}
