#container {
    max-width: 800px;
    height: auto;
}

#imgbox img {
    height: 400px;
    width: 400px;
    border: 5px solid #e4c271;
    border-radius: 25px;
    margin-left: 25%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 5%;
}

.header {
    margin-top: 10%;
    color: black;
    text-align: center;
    font-size: 2rem;
    background: #e4c271;
    border-radius: 25px;
}

h4 {
    color: black;
    text-align: center;
    font-size: 2rem;
    background: #e4c271;
    border: 3px solid #000;
    border-radius: 25px;
}

#reviews {
    color: black;
    text-align: center;
    border: 3px solid #000;
    background: #e4c271;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 25px;
}

hr{
    opacity: 0;
}
