body {
    margin: auto;
    margin-top: 6rem;
    max-width: 400px

}

#topname {
    text-align: center;
    background: #e4c271;
    border: 3px solid #000;
    border-radius: 25px;
}

#review {
    background: #e4c271;
    border: 3px solid #000;
    border-radius: 25px;
}

#description {
    background: #e4c271;
    border: 3px solid #000;
    border-radius: 25px;
}

#writereview {
    background: #e4c271;
    border: 3px solid #000;
    border-radius: 25px;
}

#coffeereview img {
    height: 400px;
    width: 400px;
    border: 3px solid #000;
    border-radius: 25px;
}

hr {
    opacity: 0;
}

.butn {
    margin-left: 9.2rem;
}

