*{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2, h3 {
    padding: .5em;
}

#coffees{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 1em;

    padding: 1em;
   
}

    #coffees img {
        max-width: 200px;
        height: 200px;
        box-sizing: border-box;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

#coffees img:hover {
    transform: scale(1.5);
}





nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    background: #333;
}

nav a {
        padding: 1em 2em;
        text-decoration: none;
        color: #fff;
}

nav a:hover {
        background: #666;
}

footer {
    margin-top: 2em;
    margin-bottom: 1em;
    background: #666;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}
