*{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/images/cof.jpg);
    background-repeat: repeat-y;
}

body img {
    max-height: 100%;
    max-width: 100%
}

h2, h3 {
    padding: .5em;
    color: #fff;
    text-align: center;
}

#coffees{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 1em;

    padding: 1em;
   
}

    #coffees img {
        max-width: 200px;
        height: 200px;
        box-sizing: border-box;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #fff;
    }

#coffees img:hover {
    transform: scale(1.5);
}

    #coffees article {
        background: #333;
    }

@media screen and (max-width: 40em) {
    #coffees {
        grid-template-columns: 1fr;
        grid-row-gap: 1em;
        width: 60vw;
        min-width: 22em;
        margin: 1em auto;
    }
}

@media screen and (max-width: 25em) {
    #coffees {
        width: auto;
        min-width: unset;
    }
}




nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    background: #333;
}

nav a {
        padding: 1em 2em;
        text-decoration: none;
        color: #fff;
}

nav a:hover {
        background: #666;
}

footer {
    margin-top: 2em;
    margin-bottom: 1em;
    background: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}
