@model IEnumerable<CoffeeReview.Models.Coffee>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link href="~/css/CRUDStyle.css" rel="stylesheet" />
</head>
<body>

    <nav>
        <a href="/Home/Index">Home</a>
        <a href="/Coffee/Index">Coffees</a>
        <a href="/Coffee/AddACoffee">Add a Coffee</a>
        <a href="/Coffee/Delete">Delete a Coffee</a>
    </nav>

<div class="cofbox">
    <h3>Choose a Coffee To Delete</h3>
    <h2>Coffees</h2>
    <div id="coffees">
        <form action="/Coffee/DeleteById/" method="post">

            <select name="Id">
                @foreach (var coffee in Model)
                {


                    <option value="@coffee.Id">@coffee.Brand, @coffee.Kind</option>

                }
            </select>
            <input id="button" type="submit" value="Delete a Coffee" class="btn btn-default" />
        </form>

    </div>
 </div>
</body>
</html>
