@model IEnumerable<CoffeeReview.Models.Coffee>
@{
    ViewData["Title"] = "Products";
}

<!DOCTYPE html>
<h2>Products</h2>
<html>
<head>
    <meta charset="utf-8" />
    <script src="https://kit.fontawesome.com/887cb88cb6.js" crossorigin="anonymous"></script>
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>
<body>
    <h1>
        <i class="fas fa-mug-hot fa-5x"></i>    
    </h1>
        <div id="coffees">
            @foreach (var coffee in Model)
            {
            <article>

                <p><a href="/Coffee/Details/@coffee.Id"><span><img src="@coffee.ImageUrl" /></span></a></p>

            
                



            </article>
            }
        </div>

        <nav>
            <a href="/Home/Index">Home</a>
            <a href="/Coffee/Index">Coffees</a>
            <a href="/Coffee/AddACoffee">Add a Coffee</a>
            <a href="/Coffee/Delete">Delete a Coffee</a>
        </nav>


<footer>
    &copy; 2019 Brewdz
</footer>

</body>
</html>