@model IEnumerable<CoffeeReview.Models.Coffee>
@{
    ViewData["Title"] = "Products";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>


<h2>Products</h2>

<body>
        <h2>Coffees</h2>
        <div id="coffees">
            @foreach (var coffee in Model)
            {
                <article>
                    <h3><a href="">@coffee.Kind</a></h3>
                    <img src="~/images/brightsideblend.jpg" />
                    
                    <p></p>
                </article>
            }
        </div>
</body>
</html>