@model IEnumerable<CoffeeReview.Models.Coffee>
@{
    ViewData["Title"] = "Products";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>


<h2>Products</h2>

<body>
        <h2>Coffees</h2>
        <div id="coffees">
            @foreach (var coffee in Model)
            {
            <article>



                <span>@coffee.Brand</span>
                <p> <span>@coffee.Kind</span></p>
                <p>Review: <span>@coffee.Review</span></p>

                <p><a href="/Coffee/Details/@coffee.Id"><span><img src="@coffee.ImageUrl" /></span></a></p>

            
                <hr />



            </article>
            }
        </div>
</body>
</html>